body {
    margin: 0;
    font-family: 'Gill Sans', sans-serif;
    word-break: normal;
}

/* bottom banner -START */
.bottombanner-wrap {
    display: block;
    box-sizing: padding-box;
    padding: 0px 56px;
    background-color: rgba(0, 0, 0, .1);
    height: 100%;
}

.bottombanner {
    display: flex;
    flex-direction: column;
    color: rgb(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
    padding-bottom: 100px;
}

.bottombanner h1 {
    font-size: xx-large;
    font-weight: bold;
    padding: 32px 0;
    margin: 0;
    color: rgb(0, 0, 0, 0.6);
}

.all-cards-container {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 32px;
}

/* Applied when the cart is empty */
.no-products{
    font-size: x-large;
    font-style: italic;
    align-items: center;
    
}

.crop {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.card-container {
    display: inline-block;
    background-color: white;
    padding-bottom: 32px;
}

.card-container img {
    width: 100%;
    height: auto;
}

.card-container h3 {
    font-size: 1.5em;
    padding-top: 16px;
    padding-left: 16px;
    padding-bottom: 1em;
    margin: 0;
}

.card-container p {
    font-weight: lighter;
    font-size: 1.2em;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
}
/* bottom banner - END */



